extends layouts/main

block content
    .home
        .home__title
            h1 Typing Test
        .home__typing#jsTyping
            span.typing__line
                span.typing__token
                    span.token__unit H
                    span.token__unit I
                    span.token__unit &nbsp;
                    span.token__unit h
                    span.token__unit I
                    span.token__unit H
                    span.token__unit I
                    span.token__unit H
                    span.token__unit I
                    span.token__unit H
                    span.token__unit I
        .home__speed