extends layouts/main

block content
    .home
        .home__title
            h1 Typing Test
        .home__typing#jsTyping
            .typing__view
                span.typing__line
                    span.typing__token
                        span.token__unit N
                        span.token__unit e
                        span.token__unit w
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit M
                        span.token__unit e
                        span.token__unit x
                        span.token__unit i
                        span.token__unit c
                        span.token__unit o
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit i
                        span.token__unit s
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit a
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit s
                        span.token__unit t
                        span.token__unit a
                        span.token__unit t
                        span.token__unit e
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit i
                        span.token__unit n
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit t
                        span.token__unit h
                        span.token__unit e
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit U
                        span.token__unit n
                        span.token__unit i
                        span.token__unit t
                        span.token__unit e
                        span.token__unit d
                        span.token__unit &nbsp;
                span.typing__line
                    span.typing__token
                        span.token__unit N
                        span.token__unit e
                        span.token__unit w
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit M
                        span.token__unit e
                        span.token__unit x
                        span.token__unit i
                        span.token__unit c
                        span.token__unit o
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit i
                        span.token__unit s
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit a
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit s
                        span.token__unit t
                        span.token__unit a
                        span.token__unit t
                        span.token__unit e
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit i
                        span.token__unit n
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit t
                        span.token__unit h
                        span.token__unit e
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit U
                        span.token__unit n
                        span.token__unit i
                        span.token__unit t
                        span.token__unit e
                        span.token__unit d
                        span.token__unit &nbsp;
                span.typing__line
                    span.typing__token
                        span.token__unit N
                        span.token__unit e
                        span.token__unit w
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit M
                        span.token__unit e
                        span.token__unit x
                        span.token__unit i
                        span.token__unit c
                        span.token__unit o
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit i
                        span.token__unit s
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit a
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit s
                        span.token__unit t
                        span.token__unit a
                        span.token__unit t
                        span.token__unit e
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit i
                        span.token__unit n
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit t
                        span.token__unit h
                        span.token__unit e
                        span.token__unit &nbsp;
                    span.typing__token
                        span.token__unit U
                        span.token__unit n
                        span.token__unit i
                        span.token__unit t
                        span.token__unit e
                        span.token__unit d
                        span.token__unit &nbsp;
        .home__speed#jsSpeed
            h3.speed__wpm Speed
                p WPM: